@import "_reset.scss";

$gray: #3b3b3b;
$black: #000;
$accent: #705ABF;
$light-gray: #E0E0E0;
$secondary: rgb(1, 138, 70);

body {
  font-family: "Golos Text", sans-serif;
  color: $gray;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.title {
  font-size: 50px;
  line-height: 57px;
  color: $gray;
  font-weight: 600;
}

.container {
  max-width: 1300px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  box-shadow: 0px 3px 9px 0px rgba(34, 60, 80, 0.2);

  .header-top {
    padding: 15px 0;
  }

  &__nav-btn {
    padding: 6px 16px 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    background-color: transparent;
    transition: .2s ease-in;
    border: 1px solid $accent;
    gap: 8px;
    background-color: $accent;
    color: #fff;

    &:hover {
      background-color: #fff;
      color: $accent;

      svg path {
        stroke: $accent;
      }
    }

    svg path {
      transition: .2s ease-in;
      stroke: #fff;
    }
  }

  &__connect-btn {
    padding: 8px 14px;
    color: #fff;
    background-color: $secondary;
    border: 1px solid $secondary;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in-out;

    &:hover {
      background-color: #fff;
      color: $secondary;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
  }

  &__logo {
    max-width: 120px;
    flex-grow: 1;
    font-size: 30px;
    font-weight: 600;
    margin-right: 30px;
    line-height: 1;
  }

  &__geo {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-right: 40px;

    svg {
      width: 8px;

      path {
        fill: $secondary;
      }
    }

    span {
      font-size: 16px;
    }
  }

  &__nav {
    margin: 0 auto;
  }

  &__nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__nav-link {
    font-size: 16px;
    font-weight: 500;
  }

  &__phone {
    display: flex;
    flex-direction: column;

    .text {
      font-size: 12px;
      line-height: 12px;
    }
  }

  &__right {
    display: flex;
    gap: 15px;
    align-items: center;
  }
}

.banner {
  margin-top: 20px;

  &__content {
    height: 530px;
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__title {
    padding-top: 100px;
    max-width: 600px;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 30px;
    max-width: 450px;
  }

  &__link {
    padding: 8px 16px 8px 20px;
    border-radius: 100px;
    border: 1px solid $accent;
    color: #fff;
    background-color: $accent;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    transition: .2s ease;

    &:hover {
      background-color: #fff;
      color: $accent;

      svg path {
        stroke: $accent;
      }
    }

    svg path {
      stroke: #fff;
      transition: .2s ease;
    }
  }
}


.work {
  padding: 80px 0 50px;

  &__title {
    text-align: center;
    margin-bottom: 40px;
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  &__item {
    padding: 20px;
    border-radius: 24px;
    max-width: 300px;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.05), 0px 4px 40px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    gap: 15px;
    transition: .15s ease;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .number {
    border-radius: 50%;
    height: 36px;
    min-width: 36px;
    max-width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    border: 1px solid $light-gray;
  }
}

.why {
  padding: 50px 0;

  &__title {
    text-align: center;
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  &__item {
    max-width: 250px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    img {
      width: 100px;
      display: block;
      margin: 0 auto 30px;
    }
  }

  &__item-title {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
  }

  &__item-text {
    text-align: center;
  }
}

@import "_media.scss";